################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/GeosiBasiswissen/FileContentIndex/b0f6c466-8eae-4407-9b12-b1072a574423.vsidx
